k8s {
   namespace           = 'test-ns'
   computeResourceType = 'Job'
   pullPolicy          = 'Always'
   runAsUser           = 1000
}

process {
   time = '24h'
   executor = 'k8s'

   container = 'cerit.io/nextflow/mpi-pi:v0.1'

   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], 
          [automountServiceAccountToken:false], 
          [mpiJobWorkers: 5], 
          [sshAuthMountPath: '/home/user/.ssh'], 
          [computeResourceType: 'MPIJob']]
}
